.borderGradientServicios {
	border: double 2px transparent;
	background-image: linear-gradient(#14121b, #14121b), linear-gradient(to right, var(--color-gama-secondary), var(--color-gama-primary));
	background-origin: border-box;
	background-clip: padding-box, border-box;
}

.circuloGradientServicios {
	position: absolute;
	bottom: -100%;
	left: 50%;
	width: 1000px;
	height: 1000px;
	transform: translate(-50%, -50%);
	background: radial-gradient(circle, rgba(50, 24, 130, 1) 0%, rgba(255, 200, 50, 0) 70%);
	border-radius: 50%;
	filter: blur(50px);
	animation: glowMove 6s infinite alternate;
}

@keyframes glowMove {
	0% {
		transform: translate(-50%, -50%) scale(1);
		opacity: 0.7;
	}
	50% {
		transform: translate(-55%, -45%) scale(1.4);
		opacity: 1;
	}
	100% {
		transform: translate(-50%, -50%) scale(1);
		opacity: 0.7;
	}
}
