@import "tailwindcss";

@theme {
	--color-gama-primary: #683ee6;
	--color-gama-secondary: #cbfd02;
	--color-gama-black: #0f0d18;
	--color-gama-blue: #2f1c6a;
	--color-gama-red: #f25236;
	--color-gama-bluedark: #0d0035;

	--font-1: "Gantari", sans-serif;
	--font-2: "Overpass", sans-serif;
}

:root {
	font-family: var(--font-1);
	background-color: rgb(47, 47, 47);
}

@layer utilities {
	.animate-gradient-x {
		background-size: 400% 400%;
		animation: gradient-x 4s ease-in-out infinite;
	}

	@keyframes gradient-x {
		0%,
		100% {
			background-position: 0% 50%;
		}
		50% {
			background-position: 100% 50%;
		}
	}

	.gradient-glow {
		background-size: 400% 400%;
		animation: gradient-x 1.5s ease-in-out infinite;
	}
}
